# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ReleasePublic/
bin/
obj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider's system files
.idea/
